/*========================================================
                Responsive(@media queri)
=========================================================*/
@media screen and (max-width: 1220px){
    .container{
        max-width:112rem;
    }
}
@media screen and (max-width: 1150px){
    .container{
        max-width:110rem;
    }
}
@media screen and (max-width: 1120px){
    .container{
        max-width:107rem;
    }
}
@media screen and (max-width: 1090px){
    .container{
        max-width:104rem;
    }
}
@media screen and (max-width: 1060px){
    .container{
        max-width:100rem;
    }
    
    .next-section a ion-icon{
        position:absolute;
        bottom:9rem;
        color:#fff;
        font-size:2.5rem;
        animation:5s down infinite ease-in-out;
    }
}
@media screen and (max-width: 1020px){
    .container{
        max-width:100%;
        margin:0 3rem;
    }
    .portfolio-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:1rem;
    }
    .portfolio-grid-item:nth-child(5){
        grid-column: 1/2;
    }
    .contact-grid{
        display:grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}


@media screen and (max-width: 860px){

    .about-grid{
        display:grid;
        grid-template-columns: 1fr;
        grid-gap: 3rem;
        text-align: center;
    }
    .about-img img{
        width: 60%;
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
    .work-grid{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        grid-gap: 1rem;
    }
            text-align: center;
}@media screen and (max-width: 830px){

    .experience-grid{
        display:grid;
        grid-template-columns: 1fr;
        grid-gap:1rem;
    }
}

@media screen and (max-width: 710px){
    .portfolio-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:1rem;
    }
    .portfolio-grid-item:nth-child(5){
        grid-column: 1/2;
    }
    .quote-grid{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    
@media screen and (max-width: 680px){
    .hero-text-box h1{
        font-size:4rem;
        display:inline-block;
        letter-spacing: .4rem;
        margin: 3rem 0;
    }
    .hero-text-box span{
        font-size: 1.8rem;
        display:block;
    }
    
@media screen and (max-width: 640px){
    .container{
        max-width:60rem;
    }
    
@media screen and (max-width: 610px){
    .work-grid{
        display:grid;
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 1rem;
    }
            text-align: center;
}
    
@media screen and (max-width: 510px){
    
    .portfolio-filter button{
        border:0;
        padding:.4rem .6rem;
        font-size:1.2rem;
        color:#fff;
        background-color: #000;
        cursor: pointer;
        margin:0 .3rem;
    }
